.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 16px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  th.title,
  td.title {
    text-align: unset;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
  }

  .sortable {
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: #e5e4e2;
  }

  tr:hover {
    background-color: #b2beb5;
    cursor: pointer;
  }

  thead {
    tr:hover {
      background-color: unset;
      cursor: unset;
    }
  }

  .rating-weak {
    background-color: #ff6961;
  }

  .rating-mid {
    background-color: #36454f;
    color: #fff5ee;
  }

  .rating-good {
    background-color: #c1e1c1;
  }
}
